@import "./owfontRegular.scss";

*, *::before, *::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

$mainLightGreen: rgba(172, 255, 19, 0.753);

input {
  border: none;
  background: inherit;
  color: #fff;
  font-size: 30px;
  outline: none;
  &:focus-visible{
    border: 1px solid inherit;
  }
  &::placeholder {
    color: #fff;
  }
}

.app {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: .6s ease-in-out all;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1.3s ease-in-out all;
  .app__overlay {
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  position: relative;
  z-index: 1;
  .footer__quote {
    margin: 200px auto ;
  }
}

.sliderControls {
  .sliderControls__btn {
    position: absolute;
    border: solid rgba(226, 226, 226, 0.753);
    border-width: 0 4px 4px 0;
    display: inline-block;
    background: inherit;
    padding: 9px;
    &:nth-child(1) {
      left: 10px;
      top: 50%;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
    &:nth-child(2) {
      right: 10px;
      top: 50%;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    &:hover {
      cursor: pointer;
      border: solid $mainLightGreen;
      border-width: 0 4px 4px 0;
    }
  }
}

@import './date.scss';
@import './weather.scss';
@import './quote.scss';
@import './audioPlayer.scss';

@media (max-width: 630px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .header__audioPlayer {
      margin: 0 auto;
    }

    .header__weather {
      position: absolute;
      right: 0;
      top: 50px;
      margin: 0 auto;
    }
  }

  .footer {
    .footer__quote {
      margin: 10px auto ;
    }
  }
}